<section id="footer">
    <div class="container">
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Телефон: @Config.MyPhone</li>
            <li>Почта: @Config.MyEmail</li>
        </ul>
    </div>
</section>